<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/register">
      <label>
        Email
      </label>
      <input type="email" name="email" placeholder="masukkan email anda">
      <label>
        Password
      </label>
      <input type="password" name="password" placeholder="password anda">
      <button type="submit">Register</button>
    </form>
  </body>
</html>
